# Ignore emacs swapfiles
*~

# Ignore dotfiles, except .gitignore
.*
!.gitignore

# Ignore artifacts.
build.xml
*.a
*.i
*.jar
*.o
*.out
*.so
*.orig
*.dSYM/

#Ignore everything except for the Makefile and the .xc files
!test/*.xc
!test/Makefile

#Ignore everything except for the Makefile and the .xc files
examples/*
examples/able_*.c
!examples/*.xc
!examples/Makefile
